html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #a8cff7;
  padding: 20px 0; /* Tăng chiều cao của header */
  box-shadow: 0 4px 6px rgba(231, 112, 112, 0.1);
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin: 0 30px; /* Tăng khoảng cách giữa các mục */
}

.nav-item a {
  text-decoration: none;
  color: #636cf1;
  font-weight: bold;
  font-size: 18px; /* Tăng kích thước chữ */
  padding: 15px 20px; /* Tăng đệm để làm cho các mục lớn hơn */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-item a:hover {
  background-color: #8fc1f3;
}

.nav-item a.active {
  background-color: #007bff;
  color: #a081f5;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #a7cff8;
  color: #615fd4;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer p {
  margin: 0 15px; /* Tăng khoảng cách giữa các mục trong footer */
}